{
	"env": {
		"node": true,
		"browser": true
	},
	"rules": {
		"no-console": 2,
		"no-extra-parens": 2,
		"valid-jsdoc": [2, {"requireReturn": false}],
		"no-else-return": 2,
		"no-eq-null": 2,
		"no-floating-decimal": 2,
		"no-process-env": 2,
		"no-self-compare": 2,
		"no-warning-comments": [2, { "terms": ["todo"], "location": "start" }],
		"wrap-iife": 2,
		"global-strict": [2, "always"],
		"no-catch-shadow": 2,
		"no-use-before-define": [2, "nofunc"]
	}
}
